{% extends 'admin/base.html' %}
{% block content %}
    <div>
    <h2>Pipeline status</h2>
    <p>
    GenomeDepot uses Django Q worker to handle long-running tasks like genome import and annotation. </br>
    If there is no worker running, start it from the genomebrowser directory by using Django’s manage.py command:
    </p>
     <pre>python manage.py qcluster</pre>
    <br />
    <table>
        <thead>
            <tr>
                <th>Worker ID</th>
                <th>Time of birth</th>
                <th>Uptime</th>
                <th>Worker process ID</th>
            </tr>
        </thead>
        <tbody>
    {% for cluster in clusters %}
            <tr>
                <td>{{ cluster.id }}</td>
                <td>{{ cluster.tob }}</td>
                <td>{{ cluster.uptime }}</td>
                <td>{{ cluster.workers }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    </div>
    <br />
    <a href="{% url "admin:index" %}">Back to Administration panel Dashboard</a>
{% endblock %}
