{% extends 'admin/base.html' %}
{% block content %}
    <div>
    <h2>Import regulon data.</h2>
    <p>
    For genomes uploaded into the database, import sites and regulons from tab-separated file. The file must contain the following fields:<br/>
    </p>
    <ol>
    <li>Regulon name.</li>
    <li>Genome name (exactly as in the database).</li>
    <li>Regulatory gene locus_tag (exactly as in the database).</li>
    <li>Target gene locus_tag (exactly as in the database).</li>
    <li>Contig ID (exactly as in the database).</li>
    <li>Site start coordinate.</li>
    <li>Site end coordinate.</li>
    <li>Strand.</li>
    <li>Sequence.</li>
    </ol>
    <p>There are {{active_tasks}} task(s) in the queue right now.</p>
    {% if active_tasks == "0" %}
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Upload regulon (tab-separated) file</button>
    </form>
    {% else %}
        <span style="color:red">You cannot start new tasks until there are active tasks in the queue. Please wait until all current tasks are finished or delete the tasks and restart Django Q cluster.</span>
    {% endif %}
    </div>
    <br />
    <a href="{% url "admin:index" %}">Back to Administration panel Dashboard</a>
{% endblock %}
