{% extends 'admin/base.html' %}
{% block content %}
    <div>
    <h2>Add sample descriptions.</h2>
    <p>
    Metagenomic samples generated in the process of genome import have no descriptions. Sample descriptions and full names can be uploaded from a tab-separated text file with three columns:<br/>
    </p>
    <ol>
    <li>Sample name (as in the database).</li>
    <li>Full name.</li>
    <li>Description (text).</li>
    </ol>
    <p>There are {{active_tasks}} task(s) in the queue right now.</p>
    {% if active_tasks == "0" %}
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Upload sample descriptions (tab-separated) file</button>
    </form>
    {% else %}
        <span style="color:red">You cannot start new tasks until there are active tasks in the queue. Please wait until all current tasks are finished or delete the tasks and restart Django Q cluster.</span>
    {% endif %}
    </div>
    <br />
{% endblock %}
