{% extends 'admin/base.html' %}
{% block content %}
    <div>
    <h2>Import gene annotations from a text file.</h2>
    <p>
    For protein sequences uploaded to Django database, this program adds annotations from a tab-separated file and writes the annotations to the database. The file with annotations must contain the following seven fields:<br/>
    </p>
    <ol>
    <li>Gene locus tag (existing in the database).</li>
    <li>Genome name (as in the database).</li>
    <li>Annotation source.</li>
    <li>Annotation URL (external).</li>
    <li>Annotataion key (parameter name).</li>
    <li>Annotation value (parameter value).</li>
    <li>Annotation note.</li>
    </ol>
    {% if active_tasks == "0" %}
    <p>There are no active tasks in the queue right now. You can start a new job.</p>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Upload annotations (tab-separated) file</button>
    </form>
    {% else %}
        <p><strong>There are {{active_tasks}} active task(s) in the queue right now.</strong></p>
        <span style="color:red">You cannot start new tasks while there are active tasks in the queue. Please wait until the currently running task is finished or delete the tasks and restart Django Q cluster.</span>
    {% endif %}
    </div>
    <br />
    <a href="{% url "admin:index" %}">Back to Administration panel Dashboard</a>
    
{% endblock %}
