{% extends "base_generic.html" %}
{% load my_tags %}
{% load static %}

{% block script-header %}
{% endblock %}

{% block title %}<div class="logo"><h2>ERROR</h2></div>{% endblock %}

{% block content %}
    <section id="two" class="wrapper style3">
        <div class="inner">
        <header class="align-center">
        {% if exception %}
            <div class="error box">Not found error: {{ exception }}</div>
        {% else %}
            {% if searchcontext %}
            <div class="error box">{{ searchcontext }}</div>
            {% endif %}
        {% endif %}
        </header>
    </div>
    </section>

{% endblock %}

