{% load static %}
{% block top %}
<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% block page-title %}<title>ENIGMA genome browser</title>{% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<script>document.addEventListener('DOMContentLoaded', (event) => {
			localStorage.getItem('mode') === 'light' ? document.querySelector('body').classList.add('light') : document.querySelector('body').classList.remove('light')
			var wrapper =  document.querySelectorAll('.style3');
			for (var i = 0, len = wrapper.length; i < len; i++) {
				console.log(wrapper[i]);
				localStorage.getItem('mode') === 'light' ? wrapper[i].classList.add('light') : wrapper[i].classList.remove('light')
				}
			})

			function DarkMode() {
			localStorage.setItem('mode', (localStorage.getItem('mode') || 'dark') === 'dark' ? 'light' : 'dark');
			localStorage.getItem('mode') === 'light' ? document.querySelector('body').classList.add('light') : document.querySelector('body').classList.remove('light')
			var wrapper =  document.querySelectorAll('.style3');
			for (var i = 0, len = wrapper.length; i < len; i++) {
				console.log(wrapper[i]);
				localStorage.getItem('mode') === 'light' ? wrapper[i].classList.add('light') : wrapper[i].classList.remove('light')
				}
			}
		</script>
		<style>.wrapper.style3 {background-image: url("{% static 'images/background.jpg' %}");}</style>
		<style>.wrapper.style3.light {background-image: url("{% static 'images/background_light.jpg' %}");}</style>
	{% block script-header %}

	{% endblock %}

	</head>
{% endblock %}
	{% block body-tag %}
	<body>
	{% endblock %}

		<!-- Header -->
			<header id="header">
				{% block title %}<div class="logo"><a href="{% url 'index' %}">&nbsp;&nbsp;&nbsp;</a></div>{% endblock %}
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'genome_list' %}">Genomes</a></li>
					<li><a href="{% url 'strain_list' %}">Strains</a></li>
					<li><a href="{% url 'sample_list' %}">Samples</a></li>
					<li><a href="{% url 'textsearch' %}">Text search</a></li>
					<li><a href="{% url 'proteinsearchform' %}">Protein sequence search</a></li>
					<li><a href="{% url 'nucleotidesearchform' %}">Nucleotide sequence search</a></li>
					<li><a href="{% url 'help' %}">Help</a></li>
					<li><a href="#" onclick="DarkMode()" title="Dark/light">Dark/light</a></li>
				</ul>
			</nav>
	{% block content %}
	{% endblock %}
	{% block footer %}
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://twitter.com/DeutschbauerLab" class="icon fa-twitter" target="blank_"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/BerkeleyLab/" class="icon fa-facebook" target="blank_"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/berkeleylab/" class="icon fa-instagram" target="blank_"><span class="label">Instagram</span></a></li>
						<li><a href="mailto:aekazakov@lbl.gov" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; A U.S. Department of Energy National Laboratory Managed by the University of California
				</div>
			</footer>
	{% endblock %}
	{% block final %}
		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>


	</body>
</html>
	{% endblock %}
