cgcms.temp_dir = 
cgcms.eggnog_command = eggnog-mapper-path/eggnog-mapper/emapper.py
cgcms.eggnog_outdir = 
cgcms.eggnog_taxonomy = CGCMS/ref_data/eggnog_taxonomy_rules.txt
cgcms.static_dir = static/mysite
cgcms.json_dir = static/mysite/genomes/json
cgcms.search_db_dir = static/mysite/genomes/search
cgcms.search_db_nucl = static/mysite/genomes/search/nucl.fna
cgcms.search_db_prot = static/mysite/genomes/search/prot.faa
cgcms.prepare_refseqs_command = jbrowsepath/jbrowse/bin/prepare-refseqs.pl
cgcms.flatfile_to_json_command = jbrowsepath/jbrowse/bin/flatfile-to-json.pl
cgcms.generate_names_command = jbrowsepath/jbrowse/bin/generate-names.pl
cgcms.hmmsearch_command = hmmsearch
strains.metadata_file = CGCMS/enigma_data/isolates_metadata_master.txt
ref.kegg_reactions_file = CGCMS/ref_data/ref_kegg_reactions.txt
ref.kegg_orthologs_file = CGCMS/ref_data/ref_kegg_ko.txt
ref.kegg_pathways_file = CGCMS/ref_data/ref_kegg_pathways.txt
ref.ec_file = CGCMS/ref_data/ref_ec.txt
ref.cazy_file = CGCMS/ref_data/ref_cazy.txt
ref.tc_file = CGCMS/ref_data/ref_tc.txt
ref.cog_codes_file = CGCMS/ref_data/ref_cog_codes.txt
ref.go_file = CGCMS/ref_data/ref_go.txt
ref.pfam_hmm_lib = Databases/PFAM/Pfam-A.hmm
ref.pfam_hmm_list = Databases/PFAM/ref_pfam.txt
ref.tigrfam_hmm_list = Databases/TIGRFAMs/ref_tigrfam.txt
ref.tigrfam_hmm_lib = Databases/TIGRFAMs/TIGRFAM.HMM
ref.taxonomy = CGCMS/ref_data/ref_taxonomy.txt
plugins.fama.fama_dir = famapath/fama/py
plugins.fama.fama_config = famapath/fama/py/config_test.ini
plugins.fama.fama_nitrate_lib = famapath//v11.0/rc_version1/fama_nitrogen-cycle_v.11.0_functions_thresholds.tsv
plugins.fama.fama_universal_lib = famapath//v1.4/test_version2/fama_function_thresholds_v.1.4.txt
plugins.fama.fama_cazy_lib = famapath/fama_cazy_ref.txt
plugins.amrfinder.conda_path =  condapath/etc/profile.d/conda.sh
plugins.amrfinder.conda_env = amrfinder
plugins.amrfinder.threads = 9
plugins.antismash.antismash_cmd = antismashpath/antiSMASH/run_antismash
plugins.antismash.antismash_ref = antismashpath/antiSMASH/ref_antismash.txt
plugins.antismash.threads = 9
plugins.phispy.conda_path =  condapath/etc/profile.d/conda.sh
plugins.phispy.conda_env = phispy
plugins.phispy.threads = 9
plugins.phispy.pvog_path = phispypath/phispy/pVOGs.hmm
plugins.phispy.evalue_threshold = 0.0001
plugins.ecis_screen.ecis-screen_cmd = ecispath/eCIS-screen/HMMsearch_genomesII_fast.pl
plugins.ecis_screen.ecis_hmm = ecispath/eCIS-screen/eCIS.hmm
