cgcms.threads = 8
cgcms.eggnog-mapper.conda_env = cgcms-emapper
cgcms.eggnog_command = emapper.py
cgcms.poem.conda_env = cgcms-poem
cgcms.hmmsearch_command = hmmsearch
plugins.amrfinder.conda_env = cgcms-amrfinder
plugins.amrfinder.threads = 9
plugins.antismash.conda_env = cgcms-antismash
plugins.antismash.antismash_cmd = antismash
plugins.antismash.threads = 9
plugins.phispy.conda_env = cgcms-phispy
plugins.phispy.threads = 9
plugins.phispy.evalue_threshold = 0.0001
plugins.ecis_screen.conda_env = cgcms-ecis-screen
plugins.fama.conda_env = cgcms-fama
strains.metadata_file = 
