core.threads = 8
core.eggnog-mapper.conda_env = genomedepot-emapper
core.eggnog_command = emapper.py
core.poem.conda_env = genomedepot-poem
core.hmmsearch_command = hmmsearch
plugins.amrfinder.enabled = 1
plugins.amrfinder.display_name = AMRFinderPlus
plugins.amrfinder.conda_env = genomedepot-amrfinder
plugins.amrfinder.threads = 9
plugins.antismash.enabled = 1
plugins.antismash.display_name = antiSMASH
plugins.antismash.conda_env = genomedepot-antismash
plugins.antismash.antismash_cmd = antismash
plugins.antismash.threads = 9
plugins.phispy.enabled = 1
plugins.phispy.display_name = pVOGs
plugins.phispy.conda_env = genomedepot-phispy
plugins.phispy.threads = 9
plugins.phispy.evalue_threshold = 0.0001
plugins.ecis_screen.enabled = 1
plugins.ecis_screen.display_name = eCIS-screen
plugins.ecis_screen.conda_env = genomedepot-ecis-screen
plugins.fama.enabled = 1
plugins.fama.display_name = Fama
plugins.fama.conda_env = genomedepot-fama
plugins.gapmind.enabled = 1
plugins.gapmind.display_name = GapMind
plugins.gapmind.conda_env = genomedepot-gapmind
plugins.gapmind.threads = 8
plugins.defensefinder.enabled = 1
plugins.defensefinder.display_name = DefenseFinder
plugins.defensefinder.conda_env = genomedepot-defensefinder
plugins.macsyfinder.enabled = 1
plugins.macsyfinder.display_name = MacsyFinder
plugins.macsyfinder.conda_env = genomedepot-macsyfinder
plugins.macsyfinder.model = TXSScan
plugins.genomad.enabled = 1
plugins.genomad.display_name = geNomad
plugins.genomad.conda_env = genomedepot-genomad
plugins.hmmsearch_pfam.enabled = 1
plugins.hmmsearch_pfam.conda_env = genomedepot_hmmsearch
plugins.hmmsearch_pfam.display_name = Pfam database
plugins.hmmsearch_pfam.hmmsearch_command = hmmsearch
plugins.hmmsearch_tigrfam.enabled = 1
plugins.hmmsearch_tigrfam.conda_env = genomedepot_hmmsearch
plugins.hmmsearch_tigrfam.display_name = TIGRFAM database
plugins.hmmsearch_tigrfam.hmmsearch_command = hmmsearch
