{
    "SECRET_KEY": "put your very secret key here",
    "HOSTNAME": "example.com",
    "DB_NAME": "cgcmsdb",
    "DB_PASSWORD": "cgcmsdbpassword",
    "DB_USER": "cgcmsuser",
    "STATIC_URL": "http://example.com/cgcmsstatic",
