{
    "SECRET_KEY": "very secret key",
    "HOSTNAME": "example.com",
    "DB_NAME": "mysqldb",
    "DB_PASSWORD": "mysqlpassword",
    "DB_USER": "mysqluser",
    "STATIC_ROOT": "/static/files/live/here",
    "STATICFILES_DIR": "/path/to/cgcms/genomebrowser/static",
    "STATIC_URL": "http://static.example.com/"
}
