{% load my_tags %}
{% load static %}
{% if annotationlist %}
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Gene ID</th>
							<th>Genome</th>
							<th>Annotation</th>
							<th>Source</th>
						</tr>
					</thead>
					<tbody>
    {% for item in annotationlist %}
					    <tr>
						    <td><a href="{% url 'genedetails' genome=item.gene_id.genome.name locus_tag=item.gene_id.locus_tag %}">{{ item.gene_id.locus_tag }}</a></td>
						    <td>{{ item.gene_id.genome.name }} [{{ item.gene_id.genome.taxon.name }}]{% for tag in item.gene_id.genome.tags.all %}<span class="genometag" style="background-color:{{tag.color}}"><a href="{% url 'tagdetails' name=tag.name %}" style="color:{{tag.textcolor}}" title="{{tag.description}}">{{tag.name}}</a></span>&nbsp;{% endfor %}</td>
						    <td>{{ item.value }}</td>
						    <td>{{ item.source }}</td>
					    </tr>
    {% endfor %}
					</tbody>
				</table>
			</div>

    {% if is_paginated %}
        <div>
	    <span>
		{% if page_obj.has_previous %}
		  <a class="button small" href="?{% param_replace page=1 %}">First</a>
		  {% if page_obj.previous_page_number != 1 %}
		    <a class="button small" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
		  {% endif %}
		{% endif %}

		Page {{ page_obj.number }} of {{ paginator.num_pages }}
		{% if page_obj.has_next %}
		  {% if page_obj.next_page_number != paginator.num_pages %}
		    <a class="button small" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
		  {% endif %}
		  <a class="button small" href="?{% param_replace page=paginator.num_pages %}">Last</a> 
		{% endif %}

		<span>&nbsp;Entries {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}</span>
	    </span>
        </div>
    {% endif %}


    {% if searchcontext %}
	<div class="align-center" id="waitbox">Please wait...<br><img src="{% static 'images/spinner.gif' %}"></div>
	<div class="align-center">
	    <button type="button" id="ExportTabLink">Export list as tab-separated text</button>
	    <button type="button" id="ExportFastaLink">Export proteins in FASTA format</button>
	</div>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script>
	    $('#ExportTabLink').on('click', function () {
		$.ajax({
		    url: "{% url 'export' %}",
		    method: 'GET',
		    data: {
			"query": "{{ request.GET.query }}",
			"type": "{{ request.GET.type }}",
			"genome": "{{ request.GET.genome }}",
			"annotation_query": "{{ request.GET.annotation_query }}"
			},
		    xhrFields: {
			responseType: 'text'
		    },
		    beforeSend: function() {
			$("#waitbox").show();
		    },
		    success: function (data) {
			$("#waitbox").hide();
			var a = document.createElement('a');
			const blob = new Blob([data], {type: "octet/stream"});
			var url = window.URL.createObjectURL(blob);
			a.href = url;
			a.download = 'export.tab';
			document.body.append(a);
			a.click();
			a.remove();
			window.URL.revokeObjectURL(url);
		    }
		});
	    });	
	    $('#ExportFastaLink').on('click', function () {
		$.ajax({
		    url: "{% url 'exportfasta' %}",
		    method: 'GET',
		    data: {
			"query": "{{ request.GET.query }}",
			"type": "{{ request.GET.type }}",
			"genome": "{{ request.GET.genome }}",
			"annotation_query": "{{ request.GET.annotation_query }}"
			},
		    xhrFields: {
			responseType: 'text'
		    },
		    beforeSend: function() {
			$("#waitbox").show();
		    },
		    success: function (data) {
			$("#waitbox").hide();
			var a = document.createElement('a');
			const blob = new Blob([data], {type: "octet/stream"});
			var url = window.URL.createObjectURL(blob);
			a.href = url;
			a.download = 'export.faa';
			document.body.append(a);
			a.click();
			a.remove();
			window.URL.revokeObjectURL(url);
		    }
		});
	    });	
	</script>
	
    {% endif %}


{% else %}
    <div class="align-center">
	<header><p>No annotations found.</p></header>
    </div>
{% endif %}
