{% extends "base_generic.html" %}
{% load static %}
{% load my_tags %}

{% block script-header %}
{% endblock %}

{% block title %}<div class="logo"><h2>Annotations</h2></div>{% endblock %}
{% block content %}
	<section id="two" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
		{% if searchcontext %}
		    <h4>{{ searchcontext }}</h4>
		{% else %}
		    <form action="{% url 'searchannotation' %}" method="get">
			<input name="annotation_query" id="annotation-query" type="text" placeholder="Text search in gene annotations...">
		    </form>
		{% endif %}
		{% if external %}
		    <p><a href="{{ external }}">External link</a></p>
		{% endif %}
		
			</header>



    {% if annotationlist %}
			    <div class="table-wrapper">
				    <table>
					    <thead>
						    <tr>
							    <th>Gene ID</th>
							    <th>Genome</th>
							    <th>Annotation</th>
							    <th>Source</th>
						    </tr>
					    </thead>
					    <tbody>
	{% for item in annotationlist %}
						<tr>
							<td><a href="{% url 'genedetails' genome=item.gene_id.genome.name locus_tag=item.gene_id.locus_tag %}">{{ item.gene_id.locus_tag }}</a></td>
							<td>{{ item.gene_id.genome.name }} [{{ item.gene_id.genome.taxon.name }}]{% for tag in item.gene_id.genome.tags.all %}<span class="genometag" style="background-color:{{tag.color}}"><a href="{% url 'tagdetails' name=tag.name %}" style="color:{{tag.textcolor}}" title="{{tag.description}}">{{tag.name}}</a></span>&nbsp;{% endfor %}</td>
							<td>{{ item.value }}</td>
							<td>{{ item.source }}</td>
						</tr>
	{% endfor %}
					    </tbody>
				    </table>
			    </div>

	{% if is_paginated %}
	    <div>
		<span>
		    {% if page_obj.has_previous %}
		      <a class="button small" href="?{% param_replace page=1 %}">First</a>
		      {% if page_obj.previous_page_number != 1 %}
			<a class="button small" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
		      {% endif %}
		    {% endif %}

		    Page {{ page_obj.number }} of {{ paginator.num_pages }}
		    {% if page_obj.has_next %}
		      {% if page_obj.next_page_number != paginator.num_pages %}
			<a class="button small" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
		      {% endif %}
		      <a class="button small" href="?{% param_replace page=paginator.num_pages %}">Last</a> 
		    {% endif %}

		    <span>&nbsp;Entries {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}</span>
		</span>
	    </div>
	{% endif %}
    {% endif %}


    {% if searchcontext %}
	<div class="align-center">
	    <p><a href="{% url 'export' %}?{{ request.META.QUERY_STRING }}">Export gene list as tab-separated text file</a></p></p>
	</div>
	<div class="align-center">
	    <p><a href="{% url 'exportfasta' %}?{{ request.META.QUERY_STRING }}">Export protein sequences as FASTA file</a></p></p>
	</div>
    {% endif %}
  
	    </div>
	</section>

{% endblock %}
