{% extends "base_generic.html" %}
{% load static %}
{% block page-title %}<title>Conserved operon</title>{% endblock %}
{% block script-header %}
<script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
{% endblock %}

{% block title %}<div class="logo"><h2>Conserved operon</h2></div>{% endblock %}
{% block content %}
    <section id="two" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h2>Conserved operon analysis for {{ start_operon.name }}</h2>
          <h5>Find homologous genes of <a href="{% url 'operondetails' genome=start_operon.genome.name name=start_operon.name %}">{{ start_operon.name }}</a> operon members</h5>
        </header>
        <div class="row">
          <div class="4u align-center">
            <a class="align-center" href="#sunburstheader">Taxonomy</a>
          </div>
          <div class="4u align-center">
            <a class="align-center" href="#treemapheader">Functional annotations</a>
          </div>
          <div class="4u align-center">
            <a class="align-center" href="#operonlistheader">Homologous operons</a>
          </div>
        </div>
        <hr>            
        <header class="align-center" id="sunburstheader">
          <p class="align-center">Taxonomy profile of the conserved operon<button popovertarget="taxprofile-popover" class="info icon fa-info-circle"></button></p>
        </header>
        <div popover id="taxprofile-popover">The taxonomic profile is a sunburst chart displaying data spanning outwards radially from the root node.<br />
        Outermost sectors of the chart contain operons (or genes), and a click on the label opens a page of the operon in a new browser tab.<br />
        A click on a sector with taxon name (outside of the label) puts this taxon to the center of the chart.<br />
        A click on the central circle makes one step up in taxonomical hierarchy.<br />
        A click on a taxon label opens a page of the taxon.</div>
        <div id ="error-box" class="error box"></div>
        <div class="align-center" id="waitbox">Please wait...<br><img src="{% static 'images/spinner.gif' %}"></div>
        <div class="align-center" id="sunburst"></div>
        <hr>
        <header class="align-center" id="treemapheader">
          <p class="align-center">Gene function annotations in the conserved operon<button popovertarget="funcprofile-popover" class="info icon fa-info-circle"></button></p>
        </header>
        <div popover id="funcprofile-popover">The functional profile is a treemap chart displaying functional annotations of all genes in the conserved operon.
        </div>
        <div class="align-center" id="treemap"></div>
        <hr>
        <div class="align-center">
          <button type="button" id="export-profile">Export functional profile as tab-separated text</button>
        </div>
        <hr>
        <header class="align-center" id="operonlistheader">
          <p class="align-center">Homologous operons<button popovertarget="operons-popover" class="info icon fa-info-circle"></button></p>
        </header>
        <div popover id="operons-popover">The list of target operons displays a link to the operon page, operon position and list of genes in the operon.
        </div>
        <div id="operonlist"></div>
        <hr>
       
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script>
        $(document).ready(function(){
          $.ajax({
            url: "{% url 'conservoperondata' operon_id=start_operon.id %}",
            method: 'GET',
            datatype: 'json',
            data: {},
            xhrFields: {
              responseType: 'text'
            },
            beforeSend: function() {
              $("#waitbox").show();
              $("#export-profile").hide();
            },
            success: function (data) {
              $("#waitbox").hide()
              $("#treemap").append(data['treemap'])
              $("#sunburst").append(data['sunburst'])
              $("#operonlist").append(data['operonlist'])
              var tsvData = document.createElement('div');
              tsvData.setAttribute('id', 'tsv_profile_data');
              tsvData.style.display = 'none';
              tsvData.append(data["tsv_profile"]);
              $("#export-profile").append(tsvData);
              $("#export-profile").show();
              var plotlyGraph = document.getElementsByClassName('plotly-graph-div');
              Plotly.Plots.resize(plotlyGraph[0]);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
              $("#waitbox").hide();
              $("#error-box").append(textStatus + ": " + errorThrown);
            }
          });
        });
        </script>
        <script>
        $('#export-profile').on('click', function () {
          var text = document.getElementById("tsv_profile_data").textContent;
          var filename = "conserved_operon_functional_profile.tab";
          var pom = document.createElement('a');
          pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
          pom.setAttribute('download', filename);
          pom.style.display = 'none';
          document.body.appendChild(pom);
          pom.click();
          document.body.removeChild(pom);
        });    
        </script>
    </section>
{% endblock %}
