{% extends "base_generic.html" %}
{% load static %}

{% block page-title %}<title>Conserved regulon</title>{% endblock %}

{% block title %}<div class="logo"><h2>Conserved regulon</h2></div>{% endblock %}

{% block content %}
    <section id="one" class="wrapper style3">
	    <div class="inner">
		<header class="align-center">
			<h2>Conserved regulon for {{ regulator_og.eggnog_id }} [{{ regulator_og.taxon.name }}]</h2>
		</header>
		<div class="row">
		    <div class="4u align-center">
			<a class="align-center" href="#sites">Sites</a>
		    </div>
		    <div class="4u align-center">
			<a class="align-center" href="#genes">Genes</a>
		    </div>
		    <div class="4u align-center">
			<a class="align-center" href="#operons">Operons</a>
		    </div>
		</div>
		<hr>
		<header class="align-center">
			<p class="align-center">Regulator EggNOG odthologs</p>
		</header>
		<div class="grid-style">
			{% if regulator_og %}
			<div class="content">
				<h5>{{ regulator_og.eggnog_id }} [{{ regulator_og.taxon.name }}] </h5>
			</div>
		    <div class="content">
				<h5><a href="{% url 'searchgene' %}?type=og&query={{ regulator_og.id }}">Show all genes in the group {{ regulator_og.eggnog_id }}[{{ regulator_og.taxon.name }}]</a></h5>
			</div>
			{% endif %}
		</div>
	{% if regulons %}
		<h2 id="regulons" class="align-center">Regulons</h2>
		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Regulon</th>
						<th>Genome</th>
						<th>Regulators</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
		{% for regulon in regulons.all %}
					<tr>
					<td><a href="{% url 'regulondetails' genome=regulon.genome.name name=regulon.name %}">{{ regulon.name }}</a></td>
					<td>{{ regulon.genome.name }}</td>
					{% if regulon.regulators %}
					<td>
					{% for regulator in regulon.regulators.all %}
						<a href="{% url 'genedetails' genome=regulator.genome.name locus_tag=regulator.locus_tag %}">{{ regulator.locus_tag }}</a><br\>
					{% endfor %}
					</td>
					{% else %}
					<td>&nbsp;</td>
					{% endif %}
					<td>{{ regulon.description }}</td>
					</tr>
		{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}

	{% if gene_table_rows %}
	    <h2 id="operons" class="align-center">Comparative table</h2>
	    <div class="table-wrapper">
		<table>
		    <thead>
			<tr>
			    <th>EggNOG family</th>
			    {% for item in gene_table_header %}
				<th class="regulonlabel">{{ item }}</th>
			    {% endfor %}
			    <th>Function</th>
			</tr>
		    </thead>
		    <tbody>
			{% for gene_table_row in gene_table_rows %}
			<tr>
			    {% for gene_table_item in gene_table_row %}
				{{ gene_table_item |safe }}
			    {% endfor %}
			</tr>
			{% endfor %}
		    </tbody>
		</table>table>
	    </div>
	    
	

	{% endif %}

	{% if gene_table %}
	    <h2 id="operons" class="align-center">Comparative table</h2>
	    <div class="table-wrapper">
		{{ gene_table |safe }}
	    </div>
	{% endif %}

	{% if sites %}
		<h2 id="sites" class="align-center">Sites</h2>
		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Genome</th>
						<th>Site</th>
						<th>Position</th>
						<th>Regulon</th>
						<th>Sequence</th>
						<th>Type</th>
						<th>Target genes and operons</th>
					</tr>
				</thead>
				<tbody>
		{% for site in sites.all %}
					<tr>
						<td>{{ site.genome.name }}</td>
						<td><a href="{% url 'sitedetails' genome=site.genome.name name=site.name %}">{{ site.name }}</a></td>
						{% if site.strand == -1 %}
						    <td>{{ site.contig.contig_id }}: complement({{ site.start }}..{{ site.end }})</td>
						{% else %}
						    <td>{{ site.contig.contig_id }}: {{ site.start }}..{{ site.end }}</td>
						{% endif %}
						<td><a href="{% url 'regulondetails' genome=site.genome.name name=site.regulon.name %}">{{ site.regulon.name }}</a></td>
						<td>{{ site.sequence }}</td>
						<td>{{ site.type }}</td>
						<td>
						    {%for gene in site.genes.all %}
							<a href="{% url 'genedetails' genome=gene.genome.name locus_tag=gene.locus_tag %}">{{ gene.locus_tag }}</a><br>
						    {% endfor %}
						    {%for operon in site.operons.all %}
							<a href="{% url 'operondetails' name=operon.name %}">{{ operon.name }}</a><br>
						    {% endfor %}
						</td>
					</tr>
		{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}


		</div>
    </section>

{% endblock %}
