{% extends "base_generic.html" %}
{% load static %}
{% block page-title %}<title>{{ ortholog_group.eggnog_id }} [{{ ortholog_group.taxon.name }}]</title>{% endblock %}
{% block script-header %}
<script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
{% endblock %}

{% block title %}<div class="logo"><h2>Ortholog group</h2></div>{% endblock %}
{% block content %}

    <section id="two" class="wrapper style3">
       <div class="inner">
        <header class="align-center">
            <h2>{{ ortholog_group.eggnog_id }} [{{ ortholog_group.taxon.name }}]</h2>
            <h5>NCBI Taxonomy ID: <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ ortholog_group.taxon.taxonomy_id }}">{{ ortholog_group.taxon.taxonomy_id }}</a></h5>
        </header>
        <div class="row">
            <div class="6u align-center">
            <a class="align-center" href="#taxonomy">Taxonomy profile</a>
            </div>
            <div class="6u align-center">
            <a class="align-center" href="#functions">Functional annotations</a>
            </div>
        </div>
        <hr>
                <header class="align-center">
                    <p class="align-center">Genes</p>
                </header>
                <h5 class="align-center"><a href="{% url 'searchgene' %}?type=og_id&query={{ ortholog_group.id }}">Show all <span id="genecount"></span> genes in the {{ ortholog_group.eggnog_id }}[{{ ortholog_group.taxon.name }}] family</a></h5>
        <hr>
                <header class="align-center">
                    <p class="align-center" id="taxonomy">Taxonomy profile<button popovertarget="taxprofile-popover" class="info icon fa-info-circle"></button></p>
                </header>
                <div popover id="taxprofile-popover">The taxonomy profile is a sunburst chart visualizing taxonomy data spanning outwards radially from the root node.<br />
                Outermost sectors contain gene names, and a click on the label opens a page of the gene in a new browser tab.<br />
                A click on a sector with taxon name (outside of the label) puts this taxon to the center of the chart.<br />
                A click on the central circle makes one step up in taxonomical hierarchy.<br />
                A click on a taxon label opens a page of the taxon.</div>
                <div id ="error-box" class="error box"></div>
                <div class="align-center" id="waitbox">Please wait...<br><img src="{% static 'images/spinner.gif' %}"></div>
                <div class="align-center" id="sunburst"></div>
        <hr>
                <header class="align-center">
                    <p class="align-center" id="functions">Gene function annotations in ortholog group {{ ortholog_group.eggnog_id }} [{{ ortholog_group.taxon.name }}]<button popovertarget="funcprofile-popover" class="info icon fa-info-circle"></button></p>
                    <p class="align-center" id="familysize"></p>
                </header>
                <div popover id="funcprofile-popover">The functional profile is a treemap chart displaying functional annotations of all genes in the family.
                </div>
                <div id ="error-box" class="error box"></div>
                <div class="align-center" id="waitbox">Please wait...<br><img src="{% static 'images/spinner.gif' %}"></div>
                <div class="align-center" id="treemap"></div>
        <hr>
                <div class="align-center">
                    <div id ="error-box2" class="error box"></div>
                    <button type="button" id="export-profile">Export functional profile as tab-separated text</button>
                    <button type="button" id="export-table">Export family members by genome as tab-separated text</button>
                </div>
        <hr>
       
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({
            url: "{% url 'loadingogtreemap' %}",
            method: 'GET',
            datatype: 'json',
            data: {
            "og": "{{ ortholog_group.id }}"
            },
            xhrFields: {
            responseType: 'text'
            },
            beforeSend: function() {
            $("#waitbox").show();
            $("#export-profile").hide();
            },
            success: function (data) {
            $("#waitbox").hide();
            $("#treemap").append(data["treemap"])
            $("#sunburst").append(data["sunburst"])
            $("#genecount").append(data["og_gene_count"])
            $("#familysize").append("This group contains " + data["og_gene_count"] + " genes")
            var tsvData = document.createElement('div');
            tsvData.setAttribute('id', 'tsv_profile_data');
            tsvData.style.display = 'none';
            tsvData.append(data["tsv_profile"]);
            $("#export-profile").append(tsvData);
            $("#export-profile").show();
            var plotlyGraph = document.getElementsByClassName('plotly-graph-div');
            Plotly.Plots.resize(plotlyGraph[0]);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            $("#waitbox").hide();
            $("#error-box").append(textStatus + ": " + errorThrown);
            }
        });
    });
    $('#export-table').on('click', function () {
        $.ajax({
            url: "{% url 'exportfamily' %}",
            method: 'GET',
            data: {
            "og": "{{ ortholog_group.id }}"
            },
            xhrFields: {
            responseType: 'text'
            },
            beforeSend: function() {
            $("#waitbox").show();
            $("#export-table").hide();
            },
            success: function (data) {
            $("#waitbox").hide();
            var a = document.createElement('a');
            const blob = new Blob([data], {type: "octet/stream"});
            var url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = 'family.tab';
            document.body.append(a);
            a.click();
            a.remove();
            window.URL.revokeObjectURL(url);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            $("#waitbox").hide();
            $("#error-box2").append(textStatus + ": " + errorThrown);
            }
        });
    });    
</script>
<script>
    $('#export-profile').on('click', function () {
        var text = document.getElementById("tsv_profile_data").textContent;
        var filename = "{{ ortholog_group.eggnog_id }}_functional_profile.tab";
        var pom = document.createElement('a');
        pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        pom.setAttribute('download', filename);
        pom.style.display = 'none';
        document.body.appendChild(pom);
        pom.click();
        document.body.removeChild(pom);
    });    
</script>
        </section>

{% endblock %}
