{% extends "base_generic.html" %}
{% load static %}
{% block page-title %}<title>{{ ortholog_group.eggnog_id }} [{{ ortholog_group.taxon.name }}]</title>{% endblock %}
{% block script-header %}
<script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
{% endblock %}

{% block title %}<div class="logo"><h2>Ortholog group</h2></div>{% endblock %}
{% block content %}

    <section id="two" class="wrapper style3">
       <div class="inner">
        <header class="align-center">
            <h2>{{ ortholog_group.eggnog_id }} [{{ ortholog_group.taxon.name }}]</h2>
            <h5>NCBI Taxonomy ID: <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ ortholog_group.taxon.taxonomy_id }}">{{ ortholog_group.taxon.taxonomy_id }}</a></h5>
        </header>
        <div class="grid-style">
            <div class="content">
                <header class="align-center">
                <p class="align-center">Genes</p>
                </header>
                <span>List of genes</span>
                <h5><a href="{% url 'searchgene' %}?type=og&query={{ ortholog_group.id }}">Show all genes in the {{ ortholog_group.eggnog_id }}[{{ ortholog_group.taxon.name }}]family</a></h5>
            </div>
            <div class="content">
                <header class="align-center">
                <p class="align-center">Right column title</p>
                </header>
                <span>Ortholog group</span>
                <h5>{{ ortholog_group.eggnog_id }} [{{ ortholog_group.taxon.name }}] </h5>
            </div>
        </div>
        <hr>
				<header class="align-center">
					<p class="align-center">Taxonomy profile</p>
				</header>				<div id ="error-box" class="error box"></div>
				<div class="align-center" id="waitbox">Please wait...<br><img src="{% static 'images/spinner.gif' %}"></div>
				<div class="align-center" id="sunburst"></div>
        <hr>
				<header class="align-center">
					<p class="align-center">Gene function annotations in ortholog group {{ ortholog_group.eggnog_id }} [{{ ortholog_group.taxon.name }}]</p>
				</header>				<div id ="error-box" class="error box"></div>
				<div class="align-center" id="waitbox">Please wait...<br><img src="{% static 'images/spinner.gif' %}"></div>
				<div class="align-center" id="treemap"></div>
        <hr>
       
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({
            url: "{% url 'loadingogtreemap' %}",
            method: 'GET',
			datatype: 'json',
            data: {
            "og": "{{ ortholog_group.id }}"
            },
            xhrFields: {
            responseType: 'text'
            },
            beforeSend: function() {
            $("#waitbox").show();
            },
            success: function (data) {
            $("#waitbox").hide();
			$('#treemap').append(data["treemap"])
			$("#sunburst").append(data['sunburst'])
			var plotlyGraph = document.getElementsByClassName('plotly-graph-div');
			Plotly.Plots.resize(plotlyGraph[0]);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
            $("#waitbox").hide();
            $("#error-box").append(textStatus + ": " + errorThrown);
            }
        });
	});
</script>
	   </section>

{% endblock %}
