{% extends "base_generic.html" %}
{% load static %}
{% load my_tags %}
{% block page-title %}<title>Genes</title>{% endblock %}
{% block script-header %}
{% endblock %}

{% block title %}<div class="logo"><h2>Genes</h2></div>{% endblock %}
{% block content %}
		<div class="loading-bar-area" id="loading-bar-area">
		    {% include 'browser/loadinggenesearch.html' %}
		</div>
		<section id="two" class="wrapper style3">
			<div class="inner" id="search-result-area" >
				<header class="align-center">
			{% if searchcontext %}
			    <h4>{{ searchcontext }}</h4>
			    <p id="external"></p>
			{% else %}
			    <form action="{% url 'searchgene' %}" method="get">
			      <input name="query" type="text" placeholder="Quick search by gene name or locus tag...">
			    </form>
			{% endif %}
				</header>
				<div id="searchresult"></div>
			    <div id="run-time">Search time: </div>
			    <div id ="error-box" class="error box"></div>
				


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({
            url: "{% url 'loadinggenesearch' %}",
	    type: "GET",
	    datatype: 'json',
	    data: {'query': "{{ query }}", 'type': "{{ type }}", 'genome': "{{ genome }}", 'page': "{{ page }}" }
        }).done(function(data){
            $('#loading-bar-area').remove();
            $('#run-time').append(data["time"].toFixed(2) + ' seconds')
            $('#searchresult').append(data["searchresult"])
            $('#searchcontext').append(data["searchcontext"])
            $('#external').append(data["external"])
            $('#search-result-area').show();
        }).fail(function(data){
            $('#loading-bar-area').remove();
            $('#error-box').append('Internal server error')
            $('#search-result-area').show();
	});
    });
</script>
  
		    </div>
		</section>

{% endblock %}

