{% extends "base_generic.html" %}
{% load static %}
{% block page-title %}<title>{{ genome.name }} genome</title>{% endblock %}
{% block script-header %}
{% endblock %}
{% block title %}<div class="logo"><h2>Genome</h2></div>{% endblock %}
{% block content %}
    <section id="two" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h2>{{ genome.name }}</h2>
        </header>
        <div class="row">
          <div class="4u align-center">
            <a class="align-center" href="#viewer">Genome viewer</a>
          </div>
          <div class="4u align-center">
            <a class="align-center" href="#genesearch">Search genes</a>
          </div>
          <div class="4u align-center">
            <a class="align-center" href="#download">Data download</a>
          </div>
        </div>
        <hr>
          <header class="align-center">
            <p class="align-center">Genome information<button popovertarget="genomeinfo-popover" class="info icon fa-info-circle"></button></p>
          </header>
		<div popover id="genomeinfo-popover">The information section has links to the strain page, list of genes, list of operons, hierarchical list of taxa with links to each taxon page and a link to the source sequence file.
		</div>
        <div class="grid-style">
        {%if genome.strain %}
          <div class="content">
            Strain: <a href="{% url 'straindetails' strain_id=genome.strain.id %}">{{ genome.strain.strain_id }} ({{ genome.strain.full_name }})</a><br><br>
            Taxonomy:<br>
            {% if lineage %}
              {% for parent in lineage %}
                <div style="margin-left: {{ forloop.counter }}0px;"><a href="{% url 'taxondetails' taxonomy_id=parent.taxonomy_id %}">{{parent.name}}</a> [{{parent.rank}}]</div>
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
        {%if genome.sample %}
          <div class="content">
            Sample: <a href="{% url 'sampledetails' sample_id=genome.sample.id %}">{{ genome.sample.sample_id }} ({{ genome.sample.full_name }})</a><br><br>
            Taxonomy:<br>
            {% if lineage %}
              {% for parent in lineage %}
                <div style="margin-left: {{ forloop.counter }}0px;"><a href="{% url 'taxondetails' taxonomy_id=parent.taxonomy_id %}">{{parent.name}}</a> [{{parent.rank}}]</div>
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
          <div class="content">
            Size: {{ genome.size }} bp<br>
            Contigs: {{ genome.contigs }}<br>
            Genes: <a href="{% url 'searchgene' %}?genome={{ genome.name }}&type=gene">{{ genome.genes }} (click to open list)</a><br>
            Operons: <a href="{% url 'operonlist' genome=genome.name %}">{{ operons }} (click to open list)</a><br>
            {%if sites %}
              Sites: <a href="{% url 'sitelist' genome=genome.name %}">{{ sites }} (click to open list)</a><br>
            {% endif %}
            {%if regulons %}
              Regulons: <a href="{% url 'regulonlist' genome=genome.name %}">{{ regulons }} (click to open list)</a><br>
            {% endif %}
            <br>
            Sequence source: <a href="{{ genome.external_url }}">{{ genome.external_id }}</a><br>
            <a href="{% static 'genomes/gbff/' %}{{ genome.name }}.genome.gbff.gz">Download genome source file in GBFF format</a><button popovertarget="source-popover" class="info icon fa-info-circle"></button>
			<div popover id="source-popover">Here you can download a copy of the original genome assembly file. If you want to export genome file with all GenomeDepot annotations, use download link at the bottom of the page.
			</div>
          </div>
        </div>
        <div class="content">
          <header class="align-center">
            <p class="align-center">Description</p>
          </header>
          <h5 class="align-center">{% for tag in genome.tags.all %}
            <span class="genometag" style="background-color:{{tag.color}}"><a href="{% url 'tagdetails' name=tag.name %}" style="color:{{tag.textcolor}}" title="{{tag.description}}">{{tag.name}}</a></span>&nbsp;
          {% endfor %}{{ genome.description }}</h5>
        </div>
      </div>
    </section>
    <section id="three" >
      <div  id="viewer" class="wrapper style3">
        <div class="inner">
          <h2 class="align-center">Genome viewer<button popovertarget="viewer-popover" class="info icon fa-info-circle"></button></h2>
		  <div popover id="viewer-popover">The genome viewer section shows embedded Jbrowse genome browser with reference sequence track and four feature tracks (CDSs, operons, pseudogenes and RNA genes).<br />
		  A click on a feature opens feature details widget that has a link to the feature page in the Name field.<br />
		  In the genome viewer, you can scroll a contig side to side using your mouse wheel or via click and drag.<br />
		  The zoom buttons and the slider bar in the header of the linear genome view can be used to zoom in and out on the view.<br />
		  You can switch between contigs using dropdown menu.<br />
		  </div>
        </div>
      </div>
      {% if contig %}
        <div class="inner">
          <div style="width: 100%; height: 350px; margin: 10 auto;">
            <iframe
            src="{% static 'jbrowse/index.html' %}?data={{ genome.json_url }}&tracklist=0&nav=1&overview=1&tracks=DNA%2CCDSs%2COperons%2CPseudogenes%2CRNAs&loc={{ contig }}:{{ viewer_start }}..{{ viewer_end }}&highlight={{ contig }}:{{ highlight_start }}..{{ highlight_end }}"
            style="border: 1px solid black"
            width="100%"
            height="100%"
            >
            </iframe>
          </div>
        </div>
      {% else %}
        <div class="inner">
          <div style="width: 100%; height: 350px; margin: 10 auto;">
            <iframe
            src="{% static 'jbrowse/index.html' %}?data={{ genome.json_url }}&tracklist=0&nav=1&overview=1&tracks=DNA%2CCDSs%2COperons%2CPseudogenes%2CRNAs"
            style="border: 1px solid black"
            width="100%"
            height="100%"
            >
            </iframe>
          </div>
        </div>
      {% endif %}
    </section>
    <section id="genesearch" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h2 class="align-center">Search genes in this genome<button popovertarget="search-popover" class="info icon fa-info-circle"></button></h2>
        </header>
		<div popover id="search-popover">In the search section, you can search genes in this genome by name, locus tag, functional annotation or one on functional classifications.<br />
		Links to the right from search fields open functional classifications for this genomes. These classifications help filtering the list of genes.
		</div>
        <form action="{% url 'searchgene' %}" method="get">
          <input name="genome" type="hidden" id="genome" value={{ genome.name }}>
          <label>By gene name, contig or product<input name="query" type="text" placeholder="Enter gene name, locus tag, product or contig name ..."></label>
          <input name="type" type="hidden" id="type" value = "gene">
        </form>
        <form action="{% url 'searchannotation' %}" method="get">
          <input name="genome" type="hidden" id="genome" value={{ genome.name }}>
          <input name="type" type="hidden" id="type" value = "annotation">
          <label>Search in gene annotations<input name="annotation_query" type="text" placeholder="Search in annotations generated by the GenomeDepot pipeline (domain, function, etc.) ..."></label>
        </form>
        <div class="row 200%">
          <div class="search left 6u">
            <form action="{% url 'searchgene' %}" method="get">
              <input name="genome" type="hidden" id="genome" value={{ genome.name }}>
              <label>Search by KEGG Ortholog group<input name="query" type="text" placeholder="Enter KEGG ortholog ID or name..."></label>
              <input name="type" type="hidden" id="type" value = "ko">
            </form>
          </div>
          <div class="search right 6u">
            <p>OR <a href="{% url 'kos' %}?genome={{ genome.name }}">Browse all KEGG Ortholog groups in this genome</a></p>
          </div>
        </div>
        <div class="row 200%">
          <div class="search left 6u">
            <form action="{% url 'searchgene' %}" method="get">
              <input name="genome" type="hidden" id="genome" value={{ genome.name }}>
              <label>Search by KEGG pathway<input name="query" type="text" placeholder="Enter KEGG pathway ID or name..."></label>
              <input name="type" type="hidden" id="type" value = "kp">
            </form>
          </div>
          <div class="search right 6u">
            <p>OR <a href="{% url 'kps' %}?genome={{ genome.name }}">Browse all KEGG pathways in this genome</a></p>
          </div>
        </div>
        <div class="row 200%">
          <div class="search left 6u">
            <form action="{% url 'searchgene' %}" method="get">
              <input name="genome" type="hidden" id="genome" value={{ genome.name }}>
              <label>Search by KEGG reaction<input name="query" type="text" placeholder="Enter KEGG reaction ID or name..."></label>
              <input name="type" type="hidden" id="type" value = "kr">
            </form>
          </div>
          <div class="search right 6u">
            <p>OR <a href="{% url 'krs' %}?genome={{ genome.name }}">Browse all KEGG reactions in this genome</a></p>
          </div>
        </div>
        <div class="row 200%">
          <div class="search left 6u">
            <form action="{% url 'searchgene' %}" method="get">
              <input name="genome" type="hidden" id="genome" value={{ genome.name }}>
              <label>Search by enzymatic activity<input name="query" type="text" placeholder="Enter EC number or enzyme name..."></label>
              <input name="type" type="hidden" id="type" value = "ec">
            </form>
          </div>
          <div class="search right 6u">
            <p>OR <a href="{% url 'enzymes' %}?genome={{ genome.name }}">Browse all enzymes in this genome</a></p>
          </div>
        </div>
        <div class="row 200%">
          <div class="search left 6u">
            <form action="{% url 'searchgene' %}" method="get">
              <input name="genome" type="hidden" id="genome" value={{ genome.name }}>
              <label>Search by transporter family<input name="query" type="text" placeholder="Enter TCDB family ID or name..."></label>
              <input name="type" type="hidden" id="type" value = "tc">
            </form>
          </div>
          <div class="search right 6u">
            <p>OR <a href="{% url 'transporters' %}?genome={{ genome.name }}">Browse all transporter families in this genome</a></p>
          </div>
        </div>
        <div class="row 200%">
          <div class="search left 6u">
            <form action="{% url 'searchgene' %}" method="get">
              <input name="genome" type="hidden" id="genome" value={{ genome.name }}>
              <label>Search by CAZy family<input name="query" type="text" placeholder="Enter CAZy family ID or name..."></label>
              <input name="type" type="hidden" id="type" value = "cazy">
            </form>
          </div>
          <div class="search right 6u">
            <p>OR <a href="{% url 'cazy' %}?genome={{ genome.name }}">Browse all CAZy families in this genome</a></p>
          </div>
        </div>
        <div class="row 200%">
          <div class="search left 6u">
            <form action="{% url 'searchgene' %}" method="get">
              <input name="genome" type="hidden" id="genome" value={{ genome.name }}>
              <label>Search by COG class<input name="query" type="text" placeholder="Enter COG class name..."></label>
              <input name="type" type="hidden" id="type" value = "cog">
            </form>
          </div>
          <div class="search right 6u">
            <p>OR <a href="{% url 'cogs' %}?genome={{ genome.name }}">Browse all COG classes in this genome</a></p>
          </div>
        </div>
        <div class="row 200%">
          <div class="search left 6u">
            <form action="{% url 'searchgene' %}" method="get">
              <input name="genome" type="hidden" id="genome" value={{ genome.name }}>
              <label>Search by GO term<input name="query" type="text" placeholder="Enter GO term ID or name..."></label>
              <input name="type" type="hidden" id="type" value = "go">
            </form>
          </div>
          <div class="search right 6u">
            <p>OR <a href="{% url 'gos' %}?genome={{ genome.name }}">Browse all GO terms in this genome</a></p>
          </div>
        </div>
      </div>
    </section>
    <section id="download" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <h2 class="align-center">Data download<button popovertarget="download-popover" class="info icon fa-info-circle"></button></h2>
        </header>
		<div popover id="download-popover">Three buttons in the download section generate a GenBank-formatted file with all GenomeDepot annotations, export a table of genes as tab-separated file, or export all protein sequences in FASTA format.
		</div>
        <div class="align-center" id="waitbox">Please wait...<br><img src="{% static 'images/spinner.gif' %}"></div>
        <div id ="error-box" class="error box"></div>
        <div class="align-center">
          <button type="button" id="ExportGbkLink">Export annotated genome in GenBank format</button>
          <button type="button" id="ExportTabLink">Export all genes as tab-separated text</button>
          <button type="button" id="ExportFastaLink">Export all proteins in FASTA format</button>
        </div>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script>
            $('#ExportGbkLink').on('click', function () {
              $.ajax({
                url: "{% url 'exportgbk' name=genome.name %}",
                method: 'GET',
                data: {},
                xhrFields: {
                  responseType: 'text'
                },
                beforeSend: function() {
                  $("#waitbox").show();
                },
                success: function (data) {
                  $("#waitbox").hide();
                  var a = document.createElement('a');
                  const blob = new Blob([data], {type: "octet/stream"});
                  var url = window.URL.createObjectURL(blob);
                  a.href = url;
                  a.download = 'exported_{{ genome.name }}_genome.gbk';
                  document.body.append(a);
                  a.click();
                  a.remove();
                  window.URL.revokeObjectURL(url);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                  $("#waitbox").hide();
                  $("#error-box").append(textStatus + ": " + errorThrown);
                }
              });    
            });
            $('#ExportTabLink').on('click', function () {
              $.ajax({
                url: "{% url 'export' %}",
                method: 'GET',
                data: {
                  "type": "gene",
                  "genome": "{{ genome.name }}"
                },
                xhrFields: {
                  responseType: 'text'
                },
                beforeSend: function() {
                  $("#waitbox").show();
                },
                success: function (data) {
                  $("#waitbox").hide();
                  var a = document.createElement('a');
                  const blob = new Blob([data], {type: "octet/stream"});
                  var url = window.URL.createObjectURL(blob);
                  a.href = url;
                  a.download = 'export_{{ genome.name }}_genes.tab';
                  document.body.append(a);
                  a.click();
                  a.remove();
                  window.URL.revokeObjectURL(url);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                  $("#waitbox").hide();
                  $("#error-box").append(textStatus + ": " + errorThrown);
                }
              });
            });    
            $('#ExportFastaLink').on('click', function () {
              $.ajax({
                url: "{% url 'exportfasta' %}",
                method: 'GET',
                data: {
                  "type": "gene",
                  "genome": "{{ genome.name }}"
                },
                xhrFields: {
                  responseType: 'text'
                },
                beforeSend: function() {
                  $("#waitbox").show();
                },
                success: function (data) {
                  $("#waitbox").hide();
                  var a = document.createElement('a');
                  const blob = new Blob([data], {type: "octet/stream"});
                  var url = window.URL.createObjectURL(blob);
                  a.href = url;
                  a.download = 'export.faa';
                  document.body.append(a);
                  a.click();
                  a.remove();
                  window.URL.revokeObjectURL(url);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                  $("#waitbox").hide();
                  $("#error-box").append(textStatus + ": " + errorThrown);
                }
              });
            });    
        </script>
      </div>
    </section>
{% endblock %}
