{% extends "base_generic.html" %}
{% load my_tags %}
{% load static %}

{% block page-title %}<title>{{ genometag.name }} tag</title>{% endblock %}
{% block script-header %}
{% endblock %}

{% block title %}<div class="logo"><h2>#{{ genometag.name }}</h2></div>{% endblock %}

{% block content %}
			<section id="two" class="wrapper style3">
				<div class="inner">
				    <header class="align-center">
				    <h4>#{{ genometag.name }}</h4>
				    </header>
				    <header class="align-center">
				    <p class="align-center">Description</p>
				    </header>
				    <h5>{{ genometag.description }}</h5>


{% if genomes %}
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Tags</th>
							<th>Source</th>
							<th>Taxonomy</th>
							<th>Size</th>
							<th>Contigs</th>
							<th>Genes</th>
						</tr>
					</thead>
					<tbody>
    {% for genome in genomes %}
					    <tr>
						    <td><a href="{% url 'genomedetails' name=genome.name %}">{{ genome.name }}</a></td>
							{%if genome.tags %}
								<td>{% for tag in genome.tags.all %}
									<span class="genometag" style="background-color:{{tag.color}}"><a href="{% url 'tagdetails' name=tag.name %}" style="color:{{tag.textcolor}}" title="{{tag.description}}">{{tag.name}}</a></span>&nbsp;
								    {% endfor %}
								</td>
							{% else %}
								<td>&nbsp;</td>
							{% endif %}
							<td>{{ genome.taxon.name }}</td>
							{%if genome.strain %}
								<td>{{ genome.strain.full_name }}</td>
							{% else %}
								<td>{{ genome.sample.full_name }}</td>
							{% endif %}
						    <td>{{ genome.size }}</td>
						    <td>{{ genome.contigs }}</td>
						    <td>{{ genome.genes }}</td>
					    </tr>
    {% endfor %}
					</tbody>
				</table>
			</div>
{% else %}
    <div class="align-center">
	<header><p>No genomes found.</p></header>
    </div>
{% endif %}

  
    {% if is_paginated %}
        <div>
	    <span>
		{% if page_obj.has_previous %}
		  <a class="button small" href="?{% param_replace page=1 %}">First</a>
		  {% if page_obj.previous_page_number != 1 %}
		    <a class="button small" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
		  {% endif %}
		{% endif %}

		Page {{ page_obj.number }} of {{ paginator.num_pages }}
		{% if page_obj.has_next %}
		  {% if page_obj.next_page_number != paginator.num_pages %}
		    <a class="button small" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
		  {% endif %}
		  <a class="button small" href="?{% param_replace page=paginator.num_pages %}">Last</a> 
		{% endif %}

		<span>&nbsp;Entries {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}</span>
	    </span>
        </div>
    {% endif %}
			    </div>
			</section>

{% endblock %}

