{% extends "base_generic.html" %}
{% load my_tags %}
{% load static %}
{% block page-title %}<title>Gene ontology</title>{% endblock %}
{% block script-header %}
{% endblock %}

{% block title %}<div class="logo"><h2>GO terms</h2></div>{% endblock %}

{% block content %}
        <section id="two" class="wrapper style3">
          <div class="inner">
            <header class="align-center">
              <form action="{% url 'gos' %}" method="get">
                {% if genome %}
                  <input name="query" type="text" placeholder="Search GO terms by name or ID in {{ genome }} genome...">
                  <input name="genome" type="hidden" id="genome" value="{{ genome }}">
                {% else %}
                  <input name="query" type="text" placeholder="Search GO terms by name or ID...">
                {% endif %}
              </form>
              {% if searchcontext %}
                <h4>{{ searchcontext }}</h4>
              {% endif %}
            </header>
            {% if annotationlist %}
              <div class="table-wrapper">
                <table>
                  <thead>
                    <tr>
                      <th>GO term</th>
                      <th>Namespace</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in annotationlist %}
                      <tr>
                        {% if genome %}
                          <td><a href="{% url 'searchgene' %}?type=go_id&query={{ item.go_id }}&genome={{ genome }}">{{ item.go_id }}</a></td>
                        {% else %}
                          <td><a href="{% url 'searchgene' %}?type=go_id&query={{ item.go_id }}">{{ item.go_id }}</a></td>
                        {% endif %}
                        <td>{{item.go_namespace}}</td>
                        <td>{{item.description }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
              <div class="align-center">
                <header><p>No GO terms found.</p></header>
              </div>
            {% endif %}
            {% if is_paginated %}
              <div>
                <span>
                  {% if page_obj.has_previous %}
                    <a class="button small" href="?{% param_replace page=1 %}">First</a>
                    {% if page_obj.previous_page_number != 1 %}
                      <a class="button small" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
                    {% endif %}
                  {% endif %}
                  Page {{ page_obj.number }} of {{ paginator.num_pages }}
                  {% if page_obj.has_next %}
                    {% if page_obj.next_page_number != paginator.num_pages %}
                      <a class="button small" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
                    {% endif %}
                    <a class="button small" href="?{% param_replace page=paginator.num_pages %}">Last</a> 
                  {% endif %}
                  <span>&nbsp;Entries {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}</span>
                </span>
              </div>
            {% endif %}
          </div>
        </section>
{% endblock %}

