{% extends "base_generic.html" %}
{% load static %}
{% block page-title %}<title>{%if site_title %}{{ site_title }}{% else %}CGCMS start page{% endif %}</title>{% endblock %}
{% block title %} <div class="logo">Start page</div>{% endblock %}

{% block content %}
        <!-- Banner -->
            <section class="banner full">
                <article>
                    <img src="{% static 'images/slide02.jpg' %}"  alt="" />
                    <div class="inner">
                        <header>
                            <p>Welcome to {%if site_title %}{{ site_title }}{% else %}comparative genomic content management system{% endif %}</p>
                            <h3>You can start with a list of  <a href="{% url 'genome_list' %}" style="text-decoration:underline;">{{ num_genomes }} available genomes</a>, or <a href="{% url 'strain_list' %}" style="text-decoration:underline;">strains</a> and <a href="{% url 'sample_list' %}" style="text-decoration:underline;">samples</a>.</h3>
                            <br />
                            <p>Looking for a specific gene?</p>
                            <h3>You can <a href="{% url 'textsearch' %}"> <span style="text-decoration:underline;">go here</span> and search in gene annotations</a></h2>
                            <br />
                            <p>Have a sequence?</p>
                            <h3><a href="{% url 'proteinsearchform' %}">Try <span style="text-decoration:underline;">protein</span></a> or <a href="{% url 'nucleotidesearchform' %}"><span style="text-decoration:underline;">nucleotide</span> search</a></h3>
                            <br />
                            <p>Still confused?</p>
                            <h3><a href="{% url 'help' %}">Click here to open <span style="text-decoration:underline;">help page</span></a></h3>
                        </header>
                    </div>
                </article>
            </section>
{% endblock %}
