{% extends "base_generic.html" %}
{% load static %}
{% block page-title %}<title>{%if site_title %}{{ site_title }}{% else %}CGCMS start page{% endif %}</title>{% endblock %}
{% block title %} <div class="logo">Start page</div>{% endblock %}

{% block content %}
        <!-- Banner -->
            <div style="background-image:url('{% static 'images/slide02.jpg' %}');background-size:cover;min-height:100vh;height:100vh;">
                    <div class="box wrapper align-center" style="background-color:rgba(0,0,0,0.0)">
                        <header>
							<p>Welcome to {%if site_title %}{{ site_title }}{% else %}comparative genomic content management system{% endif %}</p>
						</header>
						<br/>
						<div class="inner align-center">
							<a class="button 2u 12u$(medium) align-center" href="{% url 'genome_list' %}">Genomes</a>&nbsp;
							<a class="button 2u 12u$(medium) align-center" href="{% url 'strain_list' %}">Strains</a>&nbsp;
							<a class="button 2u 12u$(medium) align-center" href="{% url 'sample_list' %}">Samples</a>&nbsp;
							<a class="button 2u 12u$(medium) align-center" href="{% url 'textsearch' %}">Text search</a>
							<hr/>
							<a class="button 2u 12u$(medium) align-center" href="{% url 'proteinsearchform' %}">Protein BLAST</a>&nbsp;
							<a class="button 2u 12u$(medium) align-center" href="{% url 'nucleotidesearchform' %}">Nucleotide BLAST</a>&nbsp;
							<a class="button 2u 12u$(medium) align-center" href="{% url 'help' %}">Quick help</a>&nbsp;
							<a class="button 2u 12u$(medium) align-center" href="https://aekazakov.github.io/CGCMS/">Documentation</a>
						</div>
                    </div>
			</div>
{% endblock %}
