{% extends "base_generic.html" %}
{% load my_tags %}
{% load static %}
{% block page-title %}<title>Database search</title>{% endblock %}
{% block script-header %}
<script>
    var sec = 0;
    function pad ( val ) { return val > 9 ? val : "0" + val; }
    setInterval( function(){
        document.getElementById("seconds").innerHTML=pad(++sec%60);
        document.getElementById("minutes").innerHTML=pad(parseInt(sec/60,10));
    }, 1000);
</script>
{% endblock %}

{% block title %}<div class="logo"><h2>Database search</h2></div>{% endblock %}

{% block content %}
    <section id="two" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
        <div class="inner">
            <h3>Database search is running. Please do not reload the page.</h3>
            <div><img src="{% static 'images/globe.gif' %}"></div>
            <h5><span id="minutes"></span>:<span id="seconds"></span></h5>
        </div>
        </header>
    </div>
    </section>
    

{% endblock %}

{% block footer %}

{% endblock %}
