{% extends "base_generic.html" %}
{% load my_tags %}
{% load static %}
{% block page-title %}<title>Megablast search</title>{% endblock %}
{% block script-header %}
{% endblock %}

{% block title %}<div class="logo"><h2>Megablast search</h2></div>{% endblock %}

{% block content %}
        <section id="two" class="wrapper style3">
          <div class="inner">
            <header class="align-center">
              <form action="{% url 'nucleotidesearch' %}" method="post">
               {% csrf_token %}
                <div>
                  <div class="row uniform">
                    <textarea name="sequence" id="sequence" placeholder="Enter one nucleotide sequence in FASTA format..." rows="8"></textarea>
                  </div>
                  <div class="row uniform">
                    <div class="4u 12u$(small)">
                      <div class="select-wrapper">
                        <label for="evalue">E-value threshold:</label>
                        <select id="evalue" name="evalue">
                          <option value="0.00000000000000000001">1e-20</option>
                          <option value="0.0000000001">1e-10</option>
                          <option value="0.00000001">1e-8</option>
                          <option value="0.000001">1e-6</option>
                          <option value="0.0001" selected="selected">1e-4</option>
                          <option value="0.01">0.01</option>
                          <option value="1.0">1.0</option>
                          <option value="10.0">10.0</option>
                        </select>
                      </div>
                    </div>
                    <div class="4u 12u$(small)">
                      <div class="select-wrapper">
                        <label for="hitstoshow">Max. number of hits:</label>
                        <select id="hitstoshow" name="hitstoshow">
                          <option value="10">10</option>
                          <option value="20">20</option>
                          <option value="50">50</option>
                          <option value="100" selected="selected">100</option>
                          <option value="500">500</option>
                          <option value="1000">1000</option>
                        </select>
                      </div>
                    </div>
                    <div class="4u 12u$(small)">
                      <input type="submit" value="Start search">
                    </div>
                  </div>
                </div>
              </form>
            </header>
          </div>
        </section>
{% endblock %}

