{% extends "base_generic.html" %}
{% load my_tags %}
{% load static %}

{% block script-header %}
{% endblock %}

{% block title %}<div class="logo"><h2>Sequence search</h2></div>{% endblock %}

{% block content %}
    <section id="two" class="wrapper style3">
    <div class="inner">
	    <header class="align-center">
		{% if searchresult %}
		    {% for query,hits in searchresult.items %}
		    <h5>Query: {{ query }}</h5>
			{% if hits %}
			    <div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Target contig (click to see hit)</th>
							<th>Genome</th>
							<th>%identity</th>
							<th>Alignment length</th>
							<th>E-value</th>
							<th>Bit-score</th>
						</tr>
					</thead>
					<tbody>
			    {% for item in hits %}
				<tr>
					<td align="left"><a href="{% url 'genomedetails' name=item.1.genome.name %}?contig={{ item.1.contig_id }}&start={{ item.6 }}&end={{ item.7 }}">{{ item.0 }}</a></td>
					<td align="left">{{ item.1.genome.name }} 
					{%if item.1.genome.strain %}
						[{{ item.1.genome.strain.full_name }}] 
					{% else %}
						[{{ item.1.genome.sample.full_name }}] 
					{% endif %}
					</td>
					<td>{{ item.2 }}</td>
					<td>{{ item.3 }}</td>
					<td>{{ item.4 }}</td>
					<td>{{ item.5 }}</td>
				</tr>
			    {% endfor %}
					</tbody>
				</table>
			    </div>
			{% else %}
			    <h5>No hits found.</h5>
			{% endif %}
		    {% endfor %}
		    <p><a href="{% url 'nucleotidesearch' %}">New search</a>
		{% else %}
		    {% if searchcontext %}
			<div class="error box">{{ searchcontext }}</div>
		    {% endif %}
		<form action="{% url 'nucleotidesearch' %}" method="post">
		    {% csrf_token %}
		    <div>
		  <textarea name="sequence" id="sequence" placeholder="Enter one nucleotide sequence in FASTA format..." rows="8"></textarea>
		  </div>
		  <input type="submit" value="Start search">
		</form>
		{% endif %}
	    </header>
	</div>
    </section>

{% endblock %}

