{% extends "base_generic.html" %}
{% load static %}

{% block page-title %}<title>{{ operon.name }} operon from {{ operon.genome.name }} genome</title>{% endblock %}
{% block script-header %}
  <style>#instruction {display:none;}</style>
  <script>
    function ShowInstruction() {
      document.getElementById("instruction").style.display = "block";
      document.getElementById("showinstruction").style.display = "none";
    }
  </script>
  <script>
    function HideInstruction() {
      document.getElementById("instruction").style.display = "none";
      document.getElementById("showinstruction").style.display = "block";
    }
  </script>
{% endblock %}

{% block title %}<div class="logo"><h2>Operon</h2></div>{% endblock %}

{% block content %}
        <section id="one" class="wrapper style3">
          <div class="inner">
            <header class="align-center">
              <h2>{{ operon.name }} 
                [<a href="{% url 'genomedetails' name=operon.genome.name %}">{{ operon.genome.taxon.name }}</a>]
              </h2>
            </header>
            <div class="row">
              <div class="4u align-center">
                <a class="align-center" href="#genes">Genes</a>
              </div>
              <div class="4u align-center">
                <a class="align-center" href="#sites">Sites</a>
              </div>
              <div class="4u align-center">
                <a class="align-center" href="#viewer">Genome viewer</a>
              </div>
            </div>
            <hr>
            <div class="grid-style">
              <div class="content">
                <header class="align-center">
                  <p class="align-center">Operon information<button popovertarget="operoninfo-popover" class="info icon fa-info-circle"></button></p>
                </header>
				<div popover id="operoninfo-popover">This section contains link to the genome page and operon position in the genome.
				</div>
                <span>Genome</span>
                <h5><a href="{% url 'genomedetails' name=operon.genome.name %}">{{ operon.genome.name }} [{{ operon.genome.taxon.name }}]</a>{% for tag in operon.genome.tags.all %}<span class="genometag" style="background-color:{{tag.color}}"><a href="{% url 'tagdetails' name=tag.name %}" style="color:{{tag.textcolor}}" title="{{tag.description}}">{{tag.name}}</a></span>&nbsp;{% endfor %}</h5>
                <span>Position</span>
                {% if operon.strand == "-1" %}
                  <h5>{{ operon.contig.contig_id }}: complement({{ operon.start }}..{{ operon.end }})</h5>
                {% else %}
                  <h5>{{ operon.contig.contig_id }}: {{ operon.start }}..{{ operon.end }}</h5>
                {% endif %}
              </div>
              <div class="content">
                <header class="align-center">
                  <p class="align-center">Conserved operon<button popovertarget="consoperon-popover" class="info icon fa-info-circle"></button></p>
                </header>
				<div popover id="consoperon-popover">A link in this section starts operon comparative analysis.<br />
				To build a conserved operon, at first, the app selects an eggNOG family for each gene in the operon at the lowest taxonomic level, so only closest homologs are selected for the analysis.<br />
				Next, a database search identifies all operons that include members of the selected eggNOG families.<br />
				Genes from these operons are collected for function profile generation.
				</div>
                <span>Comparative analysis</span>
                <h5><a href="{% url 'coperon' operon_id=operon.id %}">Build conserved operon for {{ operon.name }}</a></h5>
              </div>
            </div>
            {% if genes %}
            <h2 id="genes" class="align-center">Genes<button popovertarget="genes-popover" class="info icon fa-info-circle"></button></h2>
			<div popover id="genes-popover">List of genes contains name, position and product of all genes in this operon.
		    </div>
            <div class="table-wrapper">
              <table>
                <thead>
                  <tr>
                    <th>Gene</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Product</th>
                  </tr>
                </thead>
                <tbody>
                  {% for gene in genes %}
                    <tr>
                      <td><a href="{% url 'genedetails' genome=gene.genome.name locus_tag=gene.locus_tag %}">{{ gene.locus_tag }}</a></td>
                      <td>{{ gene.name }}</td>
                      {% if gene.strand == "-1" %}
                        <td>{{ gene.contig.contig_id }}: complement({{ gene.start }}..{{ gene.end }})</td>
                      {% else %}
                        <td>{{ gene.contig.contig_id }}: {{ gene.start }}..{{ gene.end }}</td>
                      {% endif %}
                      <td>{{ gene.function }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
            {% if sites %}
              <h2 id="sites" class="align-center">Sites<button popovertarget="sites-popover" class="info icon fa-info-circle"></button></h2>
			  <div popover id="sites-popover">List of sites contains name, position and sequence of all sites linked to the operon.
		      </div>
              <div class="table-wrapper">
                <table>
                  <thead>
                    <tr>
                      <th>Site</th>
                      <th>Type</th>
                      <th>Position</th>
                      <th>Sequence</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for site in sites %}
                      <tr>
                        <td><a href="{% url 'sitedetails' genome=site.genome.name name=site.name %}">{{ site.name }}</a></td>
                        <td>{{ site.type }}</td>
                        <td>{{ site.contig.contig_id }}:{{ site.start }}..{{ site.end }} </td>
                        <td>{{ site.sequence }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
          </div>
        </section>
        <section id="three" >
          <div id="viewer" class="wrapper style3">
            <div class="inner">
              <h2 class="align-center">Genome viewer<button popovertarget="viewer-popover" class="info icon fa-info-circle"></button></h2>
			  <div>
				<header class="align-center" id="showinstruction">
				  <a onclick="ShowInstruction()">How to view or save nucleotide sequence of the operon</a>
				</header>
				<div id="instruction" class="align-center">
				  <header class="align-center" id="hideinstruction">
					<a onclick="HideInstruction()">Click to hide the instruction</a>
				  </header>
				  <div class="align-center">
					<h5>In the genome viewer, click on the triangle next to the name of the Reference sequence track. Next, choose "Save track data" from the menu.</br>Then, choose the "Highlighted region" option and press either View or Save button.</h5>
				  </div>
				</div>
			  </div>
            </div>
			<div popover id="viewer-popover">The genome viewer section shows embedded Jbrowse genome browser with reference sequence track and four feature tracks (CDSs, operons, pseudogenes and RNA genes).<br />
			A click on a feature opens feature details widget that has a link to the feature page in the Name field.<br />
			In the genome viewer, you can scroll a contig side to side using your mouse wheel or via click and drag.<br />
			The zoom buttons and the slider bar in the header of the linear genome view can be used to zoom in and out on the view.<br />
			You can switch between contigs using dropdown menu. Current operon is highlighted.<br />
			</div>
          </div>
          <div class="inner">
            <div style="width: 100%; height: 350px; margin: 10 auto;">
              <iframe
                src="{% static 'jbrowse/index.html' %}?data={{ operon.genome.json_url }}&tracklist=0&nav=1&overview=1&tracks=DNA%2CCDSs%2COperons%2CPseudogenes%2CtRNAs%2CrRNAs&loc={{ operon.contig.contig_id }}:{{ viewer_start }}..{{ viewer_end }}&highlight={{ operon.contig.contig_id }}:{{ highlight_start }}..{{ highlight_end }}"
                style="border: 1px solid black"
                width="100%"
                height="100%"
              >
              </iframe>
            </div>
          </div>
        </section>


{% endblock %}
