{% extends "base_generic.html" %}
{% load static %}
{% load my_tags %}

{% block script-header %}
{% endblock %}

{% block title %}<div class="logo"><h2>Operons</h2></div>{% endblock %}
{% block content %}
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
				{% if searchcontext %}
				    <h4>{{ searchcontext }}</h4>
				{% else %}
				    <h4>Operons in <a href="{% url 'genomedetails' name=genome.name %}">{{ genome.name }} [{{ genome.taxon.name }}]</a>{% for tag in genome.tags.all %}<span class="genometag" style="background-color:{{tag.color}}"><a href="{% url 'tagdetails' name=tag.name %}" style="color:{{tag.textcolor}}" title="{{tag.description}}">{{tag.name}}</a></span>&nbsp;{% endfor %}</h4>
				    <form action="{% url 'operonlist' genome=genome.name %}" method="get">
				      <input name="query" type="text" placeholder="Quick search in operons by gene name or locus tag...">
				    </form>
				{% endif %}
					</header>

			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Operon ID</th>
							<th>Location</th>
							<th>Genes</th>
						</tr>
					</thead>
					<tbody>
    {% for operon in operonlist %}
					    <tr>
						    <td><a href="{% url 'operondetails' name=operon.name %}">{{ operon.name }}</a></td>
						{% if operon.strand == -1 %}
							<td>{{ operon.contig.contig_id }}: complement({{ operon.start }}..{{ operon.end }})</td>
						{% else %}
							<td>{{ operon.contig.contig_id }}: {{ operon.start }}..{{ operon.end }}</td>
						{% endif %}
						    <td>{{ operon.genes.count }}</td>
					    </tr>
    {% endfor %}
					</tbody>
				</table>
			</div>

    {% if is_paginated %}
        <div>
	    <span>
		{% if page_obj.has_previous %}
		  <a class="button small" href="?{% param_replace page=1 %}">First</a>
		  {% if page_obj.previous_page_number != 1 %}
		    <a class="button small" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
		  {% endif %}
		{% endif %}

		Page {{ page_obj.number }} of {{ paginator.num_pages }}
		{% if page_obj.has_next %}
		  {% if page_obj.next_page_number != paginator.num_pages %}
		    <a class="button small" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
		  {% endif %}
		  <a class="button small" href="?{% param_replace page=paginator.num_pages %}">Last</a> 
		{% endif %}

		<span>&nbsp;Entries {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}</span>
	    </span>
        </div>
    {% endif %}



  
			    </div>
			</section>

{% endblock %}

