{% extends "base_generic.html" %}
{% load my_tags %}
{% load static %}

{% block script-header %}
{% endblock %}

{% block title %}<div class="logo"><h2>Sequence search</h2></div>{% endblock %}

{% block content %}
    <section id="two" class="wrapper style3">
    <div class="inner">
	    <header class="align-center">
		{% if searchresult %}
		    {% for query,hits in searchresult.items %}
		    <h5>Query: {{ query }}</h5>
			{% if hits %}
			    <div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Target gene</th>
							<th>Genome</th>
							<th>%identity</th>
							<th>Alignment length</th>
							<th>E-value</th>
							<th>Bit-score</th>
						</tr>
					</thead>
					<tbody>
			    {% for item in hits %}
				<tr>
					<td align="left"><a href="{% url 'genedetails' genome=item.0 locus_tag=item.1 %}">{{ item.1 }}</a> [{{ item.3 }}]</td>
					<td align="left">{{ item.0 }} [{{ item.2 }}]</td>
					<td>{{ item.4 }}</td>
					<td>{{ item.5 }}</td>
					<td>{{ item.6 }}</td>
					<td>{{ item.7 }}</td>
				</tr>
			    {% endfor %}
					</tbody>
				</table>
			    </div>
			{% else %}
			    <h5>No hits found.</h5>
			{% endif %}
		    {% endfor %}
		    <p><a href="{% url 'proteinsearch' %}">New search</a>
		{% else %}
		    {% if searchcontext %}
			<div class="error box">{{ searchcontext }}</div>
		    {% endif %}
		<form action="{% url 'proteinsearch' %}" method="post">
		    {% csrf_token %}
		    <div>
		  <textarea name="sequence" id="sequence" placeholder="Enter one protein sequence in FASTA format..." rows="8"></textarea>
		  </div>
		  <input type="submit" value="Start search">
		</form>
		{% endif %}
	    </header>
	</div>
    </section>

{% endblock %}

