{% extends "base_generic.html" %}
{% load static %}
{% load my_tags %}

{% block script-header %}
{% endblock %}

{% block title %}<div class="logo"><h2>Regulons</h2></div>{% endblock %}
{% block content %}
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<h2>Regulons in <a href="{% url 'genomedetails' name=genome.name %}">{{ genome.name }} [{{ genome.taxon.name }}]</a></h2>
					</header>

			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Regulon</th>
							<th>Regulators</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
    {% for regulon in regulonlist %}
					    <tr>
						<td><a href="{% url 'regulondetails' genome=regulon.genome.name name=regulon.name %}">{{ regulon.name }}</a></td>
					    {% if regulon.regulators %}
						<td>
						{% for gene in regulon.regulators.all %}
						    <a href="{% url 'genedetails' genome=gene.genome.name locus_tag=gene.locus_tag %}">{{ gene.locus_tag }}</a><br\>
						{% endfor %}
						</td>
					    {% else %}
						<td>&nbsp;</td>
					    {% endif %}
						<td>{{ regulon.description }}</td>
					    </tr>
    {% endfor %}
					</tbody>
				</table>
			</div>

    {% if is_paginated %}
        <div>
	    <span>
		{% if page_obj.has_previous %}
		  <a class="button small" href="?{% param_replace page=1 %}">First</a>
		  {% if page_obj.previous_page_number != 1 %}
		    <a class="button small" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
		  {% endif %}
		{% endif %}

		Page {{ page_obj.number }} of {{ paginator.num_pages }}
		{% if page_obj.has_next %}
		  {% if page_obj.next_page_number != paginator.num_pages %}
		    <a class="button small" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
		  {% endif %}
		  <a class="button small" href="?{% param_replace page=paginator.num_pages %}">Last</a> 
		{% endif %}

		<span>&nbsp;Entries {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}</span>
	    </span>
        </div>
    {% endif %}


    {% if searchcontext %}
	<div class="align-center">
	    <p><a href="{% url 'export' %}?{{ request.META.QUERY_STRING }}">Export gene list as tab-separated text file</a></p></p>
	</div>
    {% endif %}


  
			    </div>
			</section>

{% endblock %}

