{% extends "base_generic.html" %}
{% load static %}

{% block page-title %}<title>{{ site.name }} site from {{ site.genome.name }} genome</title>{% endblock %}

{% block title %}<div class="logo"><h2>Site</h2></div>{% endblock %}

{% block content %}
        <section id="one" class="wrapper style3">
          <div class="inner">
            <header class="align-center">
              <h2>{{ site.name }} 
                {%if site.genome.strain %}
                  [<a href="{% url 'straindetails' strain_id=site.genome.strain.id %}">{{ site.genome.strain.full_name }}</a>]
                {% else %}
                  [<a href="{% url 'sampledetails' sample_id=site.genome.sample.id %}">{{ site.genome.sample.full_name }}</a>]
                {% endif %}
              </h2>
            </header>
            <div class="row">
              <div class="4u align-center">
                <a class="align-center" href="#genes">Genes</a>
              </div>
              <div class="4u align-center">
                <a class="align-center" href="#operons">Operons</a>
              </div>
              <div class="4u align-center">
                <a class="align-center" href="#viewer">Genome viewer</a>
              </div>
            </div>
            <hr>
            <div class="grid-style">
              <div class="content">
                <header class="align-center">
                  <p class="align-center">Site information</p>
                </header>
                <span>Genome</span>
                <h5><a href="{% url 'genomedetails' name=site.genome.name %}">{{ site.genome.name }}</a> 
                  {%if site.genome.strain %}
                    [{{ site.genome.strain.full_name }}]
                  {% else %}
                    [{{ site.genome.sample.full_name }}]
                  {% endif %}
                  {% for tag in site.genome.tags.all %}<span class="genometag" style="background-color:{{tag.color}}"><a href="{% url 'tagdetails' name=tag.name %}" style="color:{{tag.textcolor}}" title="{{tag.description}}">{{tag.name}}</a></span>&nbsp;{% endfor %}
                </h5>
                <span>Position</span>
                {% if site.strand == -1 %}
                  <h5>{{ site.contig.contig_id }}: complement({{ site.start }}..{{ site.end }})</h5>
                {% else %}
                  <h5>{{ site.contig.contig_id }}: {{ site.start }}..{{ site.end }}</h5>
                {% endif %}
                {% if site.regulon %}
                  Regulon: <a href="{% url 'regulondetails' genome=site.regulon.genome.name name=site.regulon.name %}">{{ site.regulon.name }}</a>
                {% endif %}
              </div>
              <div class="content">
                <header class="align-center">
                  <p class="align-center">Site sequence</p>
                </header>
                <h5>{{ site.sequence }}</a> 
              </div>
            </div>
            {% if site.genes.all %}
              <h2 id="genes" class="align-center">Genes<button popovertarget="genes-popover" class="info icon fa-info-circle"></button></h2>
              <div popover id="genes-popover">List of genes contains name, position and product of all genes linked to the site.
              </div>
              <div class="table-wrapper">
                <table>
                  <thead>
                    <tr>
                      <th>Gene</th>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Product</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for gene in site.genes.all %}
                      <tr>
                        <td><a href="{% url 'genedetails' genome=gene.genome.name locus_tag=gene.locus_tag %}">{{ gene.locus_tag }}</a></td>
                        <td>{{ gene.name }}</td>
                        {% if gene.strand == "-1" %}
                          <td>{{ gene.contig.contig_id }}: complement({{ gene.start }}..{{ gene.end }})</td>
                        {% else %}
                          <td>{{ gene.contig.contig_id }}: {{ gene.start }}..{{ gene.end }}</td>
                        {% endif %}
                        <td>{{ gene.function }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
            {% if site.operons.all %}
              <h2 id="operons" class="align-center">Operons<button popovertarget="operons-popover" class="info icon fa-info-circle"></button></h2>
              <div popover id="operons-popover">The list of operons displays a link to operon's page, operon position and list of genes for each operon linked to the site.
              </div>
              <div class="table-wrapper">
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Genes</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for operon in site.operons.all %}
                      <tr>
                        <td><a href="{% url 'operondetails' genome=operon.genome.name name=operon.name %}">{{ operon.name }}</a></td>
                        {% if operon.strand == "-1" %}
                          <td>{{ operon.contig.contig_id }}: complement({{ operon.start }}..{{ operon.end }})</td>
                        {% else %}
                          <td>{{ operon.contig.contig_id }}: {{ operon.start }}..{{ operon.end }}</td>
                        {% endif %}
                        <td>
                          {%for gene in operon.gene_set.all %}
                            <a href="{% url 'genedetails' genome=gene.genome.name locus_tag=gene.locus_tag %}">{{ gene.locus_tag }}</a>: {{ gene.function }}<br>
                          {% endfor %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
          </div>
        </section>
        <section id="three" >
          <div id="viewer" class="wrapper style3">
            <div class="inner">
              <h2 class="align-center">Genome viewer<button popovertarget="viewer-popover" class="info icon fa-info-circle"></button></h2>
            </div>
            <div popover id="viewer-popover">The genome viewer section shows embedded Jbrowse genome browser with reference sequence track and four feature tracks (CDSs, operons, pseudogenes and RNA genes).<br />
            A click on a feature opens feature details widget that has a link to the feature page in the Name field.<br />
            In the genome viewer, you can scroll a contig side to side using your mouse wheel or via click and drag.<br />
            The zoom buttons and the slider bar in the header of the linear genome view can be used to zoom in and out on the view.<br />
            You can switch between contigs using dropdown menu. The position of the site is highlighted, even if there is no track for sites.<br />
            </div>
          </div>
          <div class="inner">
            <div style="width: 100%; height: 350px; margin: 10 auto;">
              <iframe
                src="{% static 'jbrowse/index.html' %}?data={{ site.genome.json_url }}&tracklist=0&nav=1&overview=1&tracks=DNA%2CCDSs%2COperons%2CPseudogenes%2CtRNAs%2CrRNAs&loc={{ site.contig.contig_id }}:{{ viewer_start }}..{{ viewer_end }}&highlight={{ site.contig.contig_id }}:{{ highlight_start }}..{{ highlight_end }}"
                style="border: 1px solid black"
                width="100%"
                height="100%"
              >
              </iframe>
            </div>
          </div>
        </section>
{% endblock %}
