{% extends "base_generic.html" %}
{% load static %}
{% load my_tags %}
{% block page-title %}<title>Taxonomy</title>{% endblock %}

{% block script-header %}
{% endblock %}

{% block title %}<div class="logo"><h2>Taxonomy</h2></div>{% endblock %}
{% block content %}
            <section id="two" class="wrapper style3">
                <div class="inner">
                    <header class="align-center">
                {% if searchcontext %}
                    <h4>{{ searchcontext }}</h4>
                {% else %}
                    <form action="{% url 'searchtaxon' %}" method="get">
                      <input name="query" type="text" placeholder="Quick search by taxon name or taxonomy ID...">
                    </form>
                {% endif %}
                    </header>

            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Rank</th>
                            <th>Taxonomy ID</th>
                        </tr>
                    </thead>
                    <tbody>
    {% for taxon in taxalist %}
                        <tr>
                            <td><a href="{% url 'taxondetails' taxonomy_id=taxon.taxonomy_id %}">{{ taxon.name }}</a></td>
                            <td>{{ taxon.rank }}</td>
                            <td>{{ taxon.taxonomy_id }}</td>
                        </tr>
    {% endfor %}
                    </tbody>
                </table>
            </div>

    {% if is_paginated %}
        <div>
        <span>
        {% if page_obj.has_previous %}
          <a class="button small" href="?{% param_replace page=1 %}">First</a>
          {% if page_obj.previous_page_number != 1 %}
            <a class="button small" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
          {% endif %}
        {% endif %}

        Page {{ page_obj.number }} of {{ paginator.num_pages }}
        {% if page_obj.has_next %}
          {% if page_obj.next_page_number != paginator.num_pages %}
            <a class="button small" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
          {% endif %}
          <a class="button small" href="?{% param_replace page=paginator.num_pages %}">Last</a> 
        {% endif %}

        <span>&nbsp;Entries {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }}</span>
        </span>
        </div>
    {% endif %}
        </div>
    </section>

{% endblock %}

